
*{
        background-image:
        url("https://i.pinimg.com/originals/7b/4a/40/7b4a40204d07cce7dbbf3bb0c1f9758c.png");
        background-color: transparent;
        /* background-position: center;
        align-items: center;
        object-position: center; */
}
h1{
        color:rgb(51, 250, 174);
    }
img{
        width: 400px;
    }
#thirdDiv{
        height: 600px;
        width: 500px;
        background-color: rgb(20, 11, 37);
        padding: 50px;
        border:1px azure dotted;
        
    }
div{
    object-position: center;
}
#spanId{
        font-size: 18px;
        margin: 50px;
}